<script src="/resources/javascript/parser.js"></script>

<div class="container">
    <div class="col-md-3">
        <input type="file" id="parser_source_file" name="parser_source_file" />
    </div>
    <div class="col-md-4">
        <button class="parser_show_hex" id="parser_show_hex">All Hex</button>
    </div>
    <div class="col-md-5 parser_info">
        <div id="offset_info"></div>
        <div id="byte_info_hex"></div>
        <div id="byte_info_dec"></div>
        <div id="byte_info_raw"></div>
    </div>
</div>

<div class="container" id="parser_wrapper">
    <div class="col-md-3" id="parser_left_wrapper">
    </div>
    <div class="col-md-9" id="parser_center_wrapper">
    </div>
</div>

