<div class="container" ng-controller="archivesCtrl">
    <table class="table table-striped" id="archives_list">
        <thead>
            <tr>
                <th>Archived Job</th>
                <th>Transport</th>
                <th>Endpoint</th>
                <th>Progress</th>
                <th>Crashes</th>
                <th>Warnings</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody_jobs_list">
            <tr ng-repeat="job in archives | filter:query">
                <td>{{job.id}}</td>
                <td>
                    <table>
                        <tr ng-repeat="(key, value) in job.job.target.transport">
                            <td class="list_key">{{key | capitalize}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="(key, value) in job.job.target.endpoint">
                            <td class="list_key">{{key | capitalize}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </td>
                <td class="jobs_col_progbar">
                    <div ng-if="job.status != ''">
                        <progressbar type="danger" id="job_progress" max="job.status.total_num_mutations" value="job.status.total_mutant_index">
                            <span style="color:black; white-space:nowrap;">
                                {{job.status.total_mutant_index}} / {{job.status.total_num_mutations}}
                            </span>
                        </progressbar>
                    </div>
                    <div ng-if="job.status == ''">
                        <span style="color:black; white-space:nowrap;">Not Available</span>
                    </div>
                </td>
                <td>
                    {{job.status.crashes}}
                </td>
                <td>
                    {{job.status.warnings}}
                </td>
                <td>
                    <button class="job_action" title="Start Job" job_id="{{job.id}}" id="start_archived">&#x25B6;</button>
                    <button class="job_action" title="Restart Job" job_id="{{job.id}}" id="restart_archived">&#x27F3;</button>
                    <button class="job_action" title="Delete Job" job_id="{{job.id}}" id="delete_archived">&#x2718;</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

