<div>
    <div class="status_error_header">ENGINE ERROR</div>
    <div class="status_error_message">
      An error has occurred while communicating with the active engine. This might<br>
      be a result of one or more of the followings:<br><br>
      <ul>
          <li>A misconfiguration was made on the Engines page for the active engine</li>
          <li>The engine has been shut down</li>
          <li>The engine encountered an unexpected error</li>
      </ul>
      In the first case, you can correct the configuration on the Engines page. If the<br>
      issues is not resolved within 3 minutes you will get redirected to this error<br>
      page again.<br><br>
      In the latter case, please submit the engine logs with your error report.
    </div>
    <div class="status_error_retry">
      Try to <button id="status_error_reconnect">Reconnect</button> to the engine.
    </div>
</div>

