body {
  margin-bottom: 62px;
}

.img-responsive-b {
  display: inline-block;
  max-width: 35px;
  margin-top: -7px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 20px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-bottom {
  margin-top: 50px;
  height: 2px;
  background: #e7e7e7;
  background: -moz-linear-gradient(left, #e7e7e7 0%, #c41230 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e7e7e7), color-stop(100%,#c41230));
  background: -webkit-linear-gradient(left, #e7e7e7 0%,#c41230 100%);
  background: -o-linear-gradient(left, #e7e7e7 0%,#c41230 100%);
  background: -ms-linear-gradient(left, #e7e7e7 0%,#c41230 100%);
  background: linear-gradient(to right, #e7e7e7 0%,#c41230 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#c41230',GradientType=1 );
}

.footer-bottom {
  height: 2px;
  background: #e7e7e7;
  background: -moz-linear-gradient(left, #c41230 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c41230), color-stop(100%,#e7e7e7));
  background: -webkit-linear-gradient(left, #c41230 0%,#e7e7e7 100%);
  background: -o-linear-gradient(left, #c41230 0%,#e7e7e7 100%);
  background: -ms-linear-gradient(left, #c41230 0%,#e7e7e7 100%);
  background: linear-gradient(to right, #c41230 0%,#e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c41230', endColorstr='#e7e7e7',GradientType=1 );
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #e7e7e7;
  color: #C41230;
}

input {
  border-radius: 0px;
  border: 1px solid #AAAAAA;
  padding: 3px;
}

.sec-enf-txt {
  font-size: 0.8em;
}

.img_help {
  margin-top: -5px;
}

a.c_tooltip::before {
  content: attr(data-tip) ;   
     
  font-size: 12px;
  position: absolute;
  z-index: 999;
  background: #FAFAFA;
  color: #303030;
  padding:0px 7px;
  line-height: 28px;
  height: 28px;

  opacity: 0;  
  transition:opacity 0.4s ease-out; 
  text-decoration: none;
}
     
a.c_tooltip:hover::before {
  opacity: 1;
  border: 0px;
  text-decoration: none;
}

div.sub_menu {
  margin-bottom: 15px;
}

td.list_key {
  min-width: 90px;
}

#tbody_jobs_list {
  font-size: 0.9em;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div#job_progress,
tr.ng-scope td.jobs_col_progbar div.progress.ng-isolate-scope div.progress-bar {
  border-radius: 0px;
}

td.jobs_col_progbar {
  min-width: 150px;
}

div#job_action {
  float: left;
}

button.job_action {
  min-width: 40px;
}

div.status_error_header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

div.status_error_message {
  margin-bottom: 20px;
}

td.s_job_name {
  min-width: 70px;
}


#parser_left_wrapper {
  padding: 5px;
}

#parser_center_wrapper {
  overflow-y: auto;
}

#parser_wrapper {
  margin-top: 10px;
}

.parser_hex_cell {
  border: 1px solid #EFEFEF;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  float: left;
  cursor: pointer;
  font-family: Monospace, Consolas;
}

.parser_primitive_cell {
  // clear: both;
  border: 1px solid #EFEFEF;
  text-align: left;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  font-family: Monospace, Consolas;
}

.parser_block_cell {
  display: table;
  table-layout: fixed; 
  width: 100%;
  border: 2px solid #222222;
  margin-top: 2px;
  margin-bottom: 2px;
}

.parser_hex_cell_ascii {
  background-color: #F7F7F7;
}

.parser_hex_cell_select,
.parser_hex_cell_mark {
  background-color: #c41230;
  color: #FFFFFF;
}

.parser_hex_cell_select {
  border: 0px;
  background-color: #f85674;
  color: #FFFFFF;
}

#parser_source_file {
  border: 0px;
}

.parser_show_hex {
  width: 90px;
}

#byte_info_raw,
#byte_info_dec,
#byte_info_hex {
  font-size: 0.9em;
  padding-right: 5px;
  width: 70px;
  float: right;
  color: #c41230;
}

#offset_info {
  font-size: 0.9em;
  padding-right: 15px;
  float: right;
  color: #c41230;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.parser_menu_wrapper {
  padding: 5px;
}

div.parser_menu_wrapper_reset {
  padding: 12px;
}

div.parser_section_header {
  padding: 5px;
  font-weight: bold;
}

div.parser_section_content {
  padding: 5px;
}

#pa_str_min_len {
  margin-left: 5px;
  width: 50px;
}

li.type,
li.type a,
li.type a:hover {
  margin: 2px;
  border: 0px;
  padding: 3px;
  color: #FFFFFF;
}

li.type a, li.type a:hover {
  background-color: transparent;
}

#primitive_bitfield {
  background-color: #4BBD77;
  color: #FFFFFF;
}

#primitive_binary {
  background-color: #444444;
  color: #FFFFFF;
}

#primitive_delimiter {
  background-color: #AF4BBD;
  color: #FFFFFF;
}

#primitive_numeric {
  background-color: #97B3BD;
  color: #FFFFFF;
}

#section_size {
  background-color: #EBCC21;
  color: #FFFFFF;
}

#primitive_string {
  background-color: #E32D64;
  color: #FFFFFF;
}

#section_checksum {
  background-color: #FCA000;
  color: #FFFFFF;
}

#section_block {
  background-color: #222222;
  color: #FFFFFF;
}

#section_repeater {
  background-color: #FF6666;
  color: #FFFFFF;
}

button.parser_reset {
  width: 80px;
}

#parser_footer {
  margin-top: 10px;
  text-align: right;
}

div.parser_dialog {
  display: none;
}

td.parser_d_tl {
  min-width: 100px;
}

#parser_form_ctnr {
  margin-top: 15px;
  margin-bottom: 15px;
}

#parser_form_ctnr_cv {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

div.primitive_properties {
  margin-top: 45px;
  padding: 20px;
  font-size: 0.9em;
}

table.t_primitive_properties {
  width: 100%;
}

table.t_primitive_properties tr,
table.t_primitive_properties td {
  height: 35px;
  line-height: 35px;
}

td.t_primitive_pr {
  text-align: right;
}

.p_attr_select {
  width: 100px;
}

button.help {
  margin-top: 6px;
  font-weight: bold;
  color: #000000;
  border-radius: 12px;
  border: 1px solid #DDDDDD;
  background-color: #EEEEEE;
}

div.help_page {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

a {
  color: #c41230;
}


