{
    "daemon": {
        "stdin": "/dev/null",
        "stdout": "/var/log/fuzzlabs.out",
        "stderr": "/var/log/fuzzlabs.err",
        "pidfile": "/tmp/fuzzlabs.pid",
        "pidfile_timeout": 5
    },
    "general": {
        "debug": 1
    },
    "api": {
        "listen_address": "0.0.0.0",
        "listen_port": 26000
    }
}
